@font-face {
  font-family: Apercu-Pro;
  src: url("fonts/apercu_bold_italic_pro.otf");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: Apercu-Pro;
  src: url("fonts/apercu_bold_pro.otf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: Apercu-Pro;
  src: url("fonts/apercu_medium_pro.otf");
  font-style: normal;
  font-weight: medium;
}

@font-face {
  font-family: Apercu-Pro;
  src: url("fonts/apercu_regular_pro.otf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Apercu-Pro-Mono;
  src: url("fonts/apercu_mono_pro.otf");
  font-style: normal;
  font-weight: normal;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-list {
  background-color: white;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: Apercu-Pro;
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  align-items: center;
  text-align: center;

  color: #000000;
}
