@font-face {
  font-family: Apercu-Pro;
  src: url("fonts/apercu_bold_italic_pro.otf");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: Apercu-Pro;
  src: url("fonts/apercu_bold_pro.otf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: Apercu-Pro;
  src: url("fonts/apercu_medium_pro.otf");
  font-weight: medium;
}

@font-face {
  font-family: Apercu-Pro;
  src: url("fonts/apercu_regular_pro.otf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Apercu-Pro-Mono;
  src: url("fonts/apercu_mono_pro.otf");
  font-style: normal;
  font-weight: normal;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.logo {
  font-family: Apercu-Pro;
}